@model Trip
@{
    if (TempData.ContainsKey("destination")){
        string destination = @TempData["destination"].ToString();
        string title = "Add Things To Do In " + destination;
        @TempData["destination"] = destination;
        ViewBag.Title = title;
    }
}


<h2>@ViewBag.Title</h2>

<form asp-action="NextToDo" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
       <input asp-for="ThingsToDo1" class="form-control">
    </div>

    <div class="form-group">
        <input asp-for="ThingsToDo2" class="form-control">
    </div>

    <div class="form-group">
        <input asp-for="ThingsToDo3" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>